{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body>
    <section>
        <div class="login">
            <div class="logo">
                <img src="{% static 'users/img/hello.png' %}" alt="Logotipo">
            </div>
            <form action="{% url 'workspace' %}" id="loginForm">
                <div class="input-area">
                    <label for="username">Username</label>
                    <input type="text" required name="" placeholder="Username" id="username">
                </div>
                <div class="input-area">
                    <label for="password">Password</label>
                    <input type="password" required name="" placeholder="Password" id="password">
                </div>
                <input type="submit" value="Login">
            </form>
            <div class="new">
                <a href="{% url 'registro' %}">Create Account</a>
            </div>
        </div>
    </section>
    <script src="{% static 'users/js/authLogin.js' %}"></script>
</body>
</html>