{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectángulo con botón</title>
    <link rel="stylesheet" href="{% static 'users/css/workspace.css' %}">
</head>
<body>
    <div class="container">
        <div class="rectangle">
            <h3>Hola, nombre_usuario.</h3>
            <p>Por lo que se ve, aún no agregaste Tableros al espacio</p>
        </div>
        <button class="btn">Agregar Tablero</button>
    </div>
</body>
</html>
